Recommended cryptography algorithms discrepancy

Why does the specification recommend EdDSA for CBOR certificates and ECDSA for X.509 certificates? Presumably the certificate format should not dictate strength or choice of cryptography algorithms.

These are recommendations - I can put a reference to this note from RFC9052. Similarly for X.509 certs, these are recommendations per NIST SP 800-57 Part 1.

>For example, the COSE_Sign structure might include signatures
   generated with the Edwards-curve Digital Signature Algorithm (EdDSA)
   [RFC8032] and the Elliptic Curve Digital Signature Algorithm (ECDSA)
   [DSS].  This allows recipients to verify the signature associated
   with one algorithm or the other.  More detailed information on
   multiple signature evaluations can be found in [RFC5752].